 @font-face {
    font-family: "斗鱼";
    src: url("../assets/fonts/douyuFont-2.otf");
    src: url("../assets/fonts/douyuFont-2.otf") format("embedded-opentype"),
      url("../assets/fonts/douyuFont-2.otf") format("woff"),
      url("../assets/fonts/douyuFont-2.otf") format("truetype"),
      url("../assets/fonts/douyuFont-2.otf") format("svg");
  }

  @font-face {
    font-family: "庞门";
    src: url("../assets/fonts/PangMenZhengDaoXiXianTi-2.ttf");
    src: url("../assets/fonts/PangMenZhengDaoXiXianTi-2.ttf") format("embedded-opentype"),
      url("../assets/fonts/PangMenZhengDaoXiXianTi-2.ttf") format("woff"),
      url("../assets/fonts/PangMenZhengDaoXiXianTi-2.ttf") format("truetype"),
      url("../assets/fonts/PangMenZhengDaoXiXianTi-2.ttf") format("svg");
  }

  @font-face {
    font-family: "真言";
    src: url("../assets/fonts/RuiZiChaoPaiKeBianZhenYan2.0Jian(REEJI-ZhenyanGB2.0-GX)-2.ttf");
    src: url("../assets/fonts/RuiZiChaoPaiKeBianZhenYan2.0Jian(REEJI-ZhenyanGB2.0-GX)-2.ttf") format("embedded-opentype"),
      url("../assets/fonts/RuiZiChaoPaiKeBianZhenYan2.0Jian(REEJI-ZhenyanGB2.0-GX)-2.ttf") format("woff"),
      url("../assets/fonts/RuiZiChaoPaiKeBianZhenYan2.0Jian(REEJI-ZhenyanGB2.0-GX)-2.ttf") format("truetype"),
      url("../assets/fonts/RuiZiChaoPaiKeBianZhenYan2.0Jian(REEJI-ZhenyanGB2.0-GX)-2.ttf") format("svg");
  }

  @font-face {
    font-family: "优设";
    src: url("../assets/fonts/YouSheBiaoTiYuan-2.otf");
    src: url("../assets/fonts/YouSheBiaoTiYuan-2.otf") format("embedded-opentype"),
      url("../assets/fonts/YouSheBiaoTiYuan-2.otf") format("woff"),
      url("../assets/fonts/YouSheBiaoTiYuan-2.otf") format("truetype"),
      url("../assets/fonts/YouSheBiaoTiYuan-2.otf") format("svg");
  }


  